.btn {
display: inline-block;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
padding: .3em 7em;
border-radius: .2em;
}
.btn-primary{
color: #ffffff;
background-color:blue;
border-color:#b90404
}
.btn-info{
    color: aqua;
    background-color: blueviolet;
    border-color: black;
}
.btn-warning{
color: crimson;
background: darkblue;
border-color: deeppink;
}
.btn-danger{
    color: red;
    background-color: greenyellow;
    border-color:  red;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .background{
        background-color: blue;
    }
  }

  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {
    .background{
        background-color: blue;
    
  }
} 
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {

    .background{
        background-color: blue;

   }
  }
  /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .background{
        background-color:red;

   }
  }
  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {

    .background{
        background-color: violet;
  }
}

  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

    .background{
        background-color: black;

  }
}